/* Navbar Styling */
.navbar {
    background-color: #08200d;
    color: white;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Request Food Form Section */
.request-food {
    padding: 30px;
    background-color: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color:  #08200d;
    margin-bottom: 20px;
}

.form-container {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color:  #08200d;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:  #08200d;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color:  #08200d;
    color: white;
    position: relative;
}
